<!DOCTYPE html>
<html>
  <head>
    <title>Worldcupfinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <%= link_to 'World Cup Finals', root_path, class:'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
    </nav>
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%=type%>">
        <%= msg %>
      </div>
    <% end %>

    <main role="main" class="container">
        <%= yield %>
    </main><!-- /.container -->

  </body>
</html>
